body{
  padding: 0;
  margin: 0;
}
.navbar{
  height: 50px;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  background-color: rgb(255, 189, 100);
}

.navbar li{
  margin-right: 12px;
  list-style: none;
  cursor: pointer;
  
}

li a{
  text-decoration: none;
}


.newbox{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
}

.innerbox{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 2px 5px ;
  margin: 0 10px;
  padding: 7px 10px;
}
.newbox h2{
  color: #d4232333;
}


.innerbox a{
  text-decoration: none;
}

.innerbox button{
  background-color: rgb(92, 45, 92);
  color: white;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
}

.innerbox button:hover{
  background-color: white;
  color: rgb(92, 45, 92);
  cursor: pointer;
}